.datial-50
{
    background-color: rgb(236, 239, 241);
    padding-top: 9%;
}


p{
    color: black;
}
.Im{
    max-width: 70%;
}
.titlesmd{
    color: #d3a929;
}
body
{
    background-color: rgb(236, 239, 241);
}
.script_duvagay
{
    background-color: rgb(236, 239, 241);
}
