/* efectos por defecto */
/* efectos por defecto */
body {
    font-family: verdana;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    background-color: #F3F5F6;
}

/* efectos para el contenedor de pantalla completa */
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    min-width: 380px;
    max-width: 900px;
    width: 90%;

    background-color: #5f6769;

    /*opacity: 0.50;
    filter: alpha(opacity=50);*/

    border-radius: 10px 10px 10px 10px;



    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    padding: 30px;
    box-sizing: border-box;
}

/* formulario de login */
/* formulario de login */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 28px 28px 48px 30px;
    background-color: #F3F5F6;

    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    border-radius: 3px 3px 3px 3px;


    box-sizing: border-box;

    opacity: 1;
    filter: alpha(opacity=1);
}

.login label {
    display:  contents;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color:#3c4245;

    margin-top: 15px;
}

.login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;

}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;


    background-color: #dfcdc3;

    margin-top: 10px;
}

#login button:hover {
    background-color: #3c4245;
    color:#dfcdc3;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/

    text-align: center;
    width: 100%;

    opacity: 0.70;
    filter: alpha(opacity=70);

    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 300%;
    color:#dfcdc3;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #dfcdc3;

}
.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #dfcdc3;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #719192;
}
/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: #5f6769;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;


        padding: 30px;
        box-sizing: border-box;
    }

    #login {
        margin: 0 auto;
    }

    #derecho {
        padding:20px 20px 20px 20px;
    }

    #login label {
        text-align: left;
    }
}
.login_red_social{

    padding: 9px;
  }

  .login_red_social h2{
    color: #dfcdc3;
    margin-bottom: 45px;
  }

  .login_red_social button i{
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .login_red_social button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
  }

  .login_red_social .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
  }

  .login_red_social .tw{
    background: #55acef;
    border-style: none;
    color: #fff;
  }

  .login_red_social .correo{
    background: #33d4ce;
    border-style: none;
    color: #fff;
  }
  select{
      color: #000000;
      border: 0px;
      width: 100%;
      height: 40px;
      padding: 5px 5px 5px 10px;

  }
.hola
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start;


}

#sicheckbox
{
    width: 30%;
    margin: 0px;
    margin-right: 0;
    width: 20px;
    height: 20px;


}
